# Ignore node_modules in any subdirectory
**/node_modules/

# Ignore build folders in any subdirectory
**/build/
**/dist/
**/.next/

# Ignore env files anywhere
**/.env
**/.env.local

# Logs
**/*.log

# IDEs
.vscode/
.idea/